@import '../../_common/util';

.root {
  @include flex(between, center, wrap);

  li {
    width: 45%;
    margin-top: 5vw;
  }
}

.tag {
  @include spfz(26);
  width: 15vw;
  margin: 0 auto 2vw;
}

.input {
  @include input;
}