@import '../_common/util';

.list {
  width: 92%;
  margin: 0 auto;
  table-layout: fixed;
  text-align: center;

  th, td {
    border: 1px solid $gray;
    padding: 4% 0;
    vertical-align: middle;
  }

  th {
    &:nth-of-type(2),
    &:nth-of-type(3) {
      width: 33%;
    }
  }
}