@import '../../_common/util';

.inner {
  @include spfz(22);
  vertical-align: top;
  padding: 5px;
  cursor: pointer;
  height: 100%;
  text-align: center;
}

.today {
  background-color: #fff8d1;
}

.date {
  display: inline-block;
  margin-bottom: 1.5vw;
}

.sunday {
  color: $sunday;
}

.saturday {
  color: $saturday;
}

.plan {
  @include spfz(20);
  margin-top: 1vw;
}

.dots {
  @include flex(end);
  margin-top: 2vw;

  li {
    width: 1.7vw;
    height: 1.7vw;
    border-radius: 50%;

    & + li {
      margin-left: 0.6vw;
    }
  }
}

.unti {
  background-color: #a06e35;
}
.menst {
  background-color: #c2429b;
}
.memo {
  background-color: #a3a3a3;
}