

.tag {
  text-align: center;
  padding: 3px 0;
  color: #fff;
  border-radius: 3px;
  margin-top: 2px;
}

.work01 {
  background-color: rgb(226, 184, 156);
}
.work02 {
  background-color: rgb(226, 156, 156);
}
.work03 {
  background-color: rgb(161, 156, 226);
}
.unti {
  fill: rgb(197, 136, 67);
}