@import '../../_common/util';

.root {
  th {
    @include spfz(24);
    padding: 3% 0;
    text-align: center;

    &:first-of-type  {
      color: $sunday;
    }

    &:last-of-type {
      color: $saturday;
    }
  }
}