@import '../../_common/util';

.head {
  @include flex(between, center);
}

.button {
  border: 1px solid #ccc;
  padding: 2% 5%;
  outline: none;
}

.calendar {
  width: 100%;
  table-layout: fixed;
  margin-top: 2vw;

  th,
  td {
    border: 1px solid $gray;

    &.noToMonth {
      opacity: .2;
    }
  }

  td {
    height: 14.3vw;

    &.noToMonth {
      cursor: default;
      pointer-events: none;
    }
  }
}