@import '../../_common/util';

.inner {
  @include spfz(22);
  padding: 5px;
  cursor: pointer;
  height: 100%;
  text-align: center;
}

.today {
  background-color: #fff8d1;
}

.date {
  margin-bottom: 1.5vw;
}

.sunday {
  color: $sunday;
}

.saturday {
  color: $saturday;
}

.plan {
  @include spfz(20);
  margin-top: 1vw;
  word-break: break-all;
}

.dots {
  @include flex(end, center, wrap);
  margin-top: 2vw;

  li {
    width: 3.2vw;
    height: 3.2vw;
    padding: 0.3vw;
  }
}