@import '../../_common/util';

.head {
  @include flex(between, center);
  padding: 0 4vw 3vw;
}

.title {
  @include spfz(38);
}

.button {
  width: 8vw;
}

.calendar {
  width: 100%;
  table-layout: fixed;

  th,
  td {
    border: 1px solid $gray;

    &.noToMonth {
      opacity: .2;
    }
  }

  td {
    height: 14.3vw;

    &.noToMonth {
      cursor: default;
      pointer-events: none;
    }
  }
}