@import '../../_common/util';

.root {
  text-align: center;
  padding: 1vw 0;
  color: #fff;
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.color_0 {
  background-color: rgb(156, 169, 228);
}
.color_1 {
  background-color: rgb(224, 157, 157);
}
.color_2 {
  background-color: rgb(226, 166, 215);
}
.color_3 {
  background-color: rgb(184, 158, 228);
}
.color_4 {
  background-color: rgb(127, 182, 119);
}
.color_5 {
  background-color: rgb(216, 196, 83);
}
.free {
  border: 1px solid #ccc;
  color: $mainColor;
}