@import '../../_common/util';

.read {
  padding: 4vw 6vw;
  line-height: 1.7;
}

.title {
  @include spfz(32);
  background-color: #dce6ff;
  padding: 6vw;
  cursor: pointer;
  position: relative;
}

.icn {
  width: 4vw;
  transform: rotate(45deg);
  transition: transform .2s ease-in-out;
  position: absolute;
  right: 6vw;
  top: 0;
  bottom: 0;
  margin: auto;

  &.active {
    transform: rotate(0);
  }
}

.iframe {
  width: 100%;
  height: 80vh;
}