@import '../util';

.gnav {
  @include flex(center, center);

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fdf4fc;
  text-align: center;

  &::before {
    @include gradientLine(-3px);
  }

  li {
    width: 18vw;
  }

  a {
    @include spfz(24);
    display: block;
    color: #8ab5e6;
    text-decoration: none;
    padding: 3vw 5vw;

    &.active {
      background-color: #e7eaf1;
    }
  }
}

.icn {
  width: 100%;
}