@import '../util';

.gnav {
  @include flex(center, center);

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fdf4fc;
  text-align: center;

  &::before {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: linear-gradient(135deg, #ce298f5f 0%,#2c85dd5f 50%,#2ad3815f 100%);
    position: absolute;
    top: -3px;
    left: 0;
  }

  li {
    width: 20vw;
  }

  a {
    @include spfz(24);
    display: block;
    color: #8ab5e6;
    text-decoration: none;
    padding: 3vw 4vw;

    &.active {
      background-color: #e7eaf1;
    }
  }
}

.icn {
  width: 100%;
}