@import './_common/reset';
@import './_common/util';

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

body {
  @include spfz(28);
  color: $mainColor;
  font-family: 'Jost', 'Kosugi Maru', sans-serif;
  padding: 6vw 0 14vw;
}

img {
  max-width: 100%;
  height: auto;
}

input, textarea {
  @include spfz(28);
  color: $mainColor;
  font-family: 'Jost', 'Kosugi Maru', sans-serif;
}